@import "tailwindcss";

@theme{
  --color-primary:var(--color-blue-600);

  --color-surface:var(--color-white);
  --color-surface-border:var(--color-gray-700);

  --color-body:var(--color-gray-700);
  --color-muted:var(--color-slate-500);
}

@layer base {
  html[data-theme="dark"]{
    color-scheme: dark;

    --color-primary:var(--color-blue-400);

    --color-surface:var(--color-gray-900);
    --color-surface-border:var(--color-slate-500);

    --color-body: var(--color-gray-300);
    --color-muted: var(--color-slate-400);
  }

  body{
    @apply bg-surface transition-colors duration-200;
  }

  body,
  button,
  input{
    @apply text-body;
  }

  button{
    @apply cursor-pointer;
  }
}
